# NVFlare workspace (simulation outputs)
workspace/

# Virtual environments
fl_env/
fedvenv/
venv/
env/
.venv/
fed/

# Slurm output
*.out
*.err

# Accidental files
=*



# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg

# Large data files (keep partition script, ignore data)
data/mnist.npz
data/mnist_data/
data/brats2020_top10_slices_split_npz
data/brats2020_top10_slices_npz


# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

jobs/*/workspace/
jobs/*/logs/
jobs/*/checkpoints/


